@import './base.css';

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

#app {
  max-width: 100%;
}

:root {
  --app-header-height: 50px;
}

@media (max-width: 768px) {
  :root {
    --app-header-height: 48px;
  }
}
